.form{
    display: block;
    border-radius: 1em;
    padding: 0 1em;
    background-color: #444440;
    margin: 0 auto;
    border: 1px solid beige;
    width: 400px;
}

.title{
    font-size: 3em;
    margin-bottom: .75em;
}

.form-body > *{
    margin-bottom: 2em;
}

.form-label{
    font-size: 1.25em;
}

.form-input{
    border: 2px solid beige;
    padding: 10px;
    border-radius: 12px;
    width: 75%;
}

.form-footer{
    margin-bottom: 1em;
}

.form-errors{
    border: 1px solid red;
    margin-bottom: 1em;
    
}
a:visited { 
    text-decoration: none; 
    color: orange; 
}

.submit-button{
    background-color: rgba(0, 132, 255, 0.671);
    border: none;
    color: beige;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.submit-button:hover{
    cursor: pointer;
    background-color: rgba(1, 79, 153, 0.671);
}